.nav-box{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
ul.nav-ul{
    display: flex;
}
.nav-item{
    font-size: 20px;
    margin-left: 40px;
    font-weight: bold;
    color: #707070;
}
.active{
    color: #343638;
}
.round{
    margin-left: 40px;
}


.title{
    width: 1160px;
    height: 50px;
    margin: 0 auto;
    margin-top: 110px;
}


/* container one */



.container-1{
    width: 1160px;
    height: 410px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.box-1, .box-2, .box-3{
    width: 360px;
    height: 350px;
}
.statia{
    width: 360px;
    height: 180px;
    position: relative;
}
.relative-img{
    width: 360px;
    height: 180px;
    position: absolute;
}

.absolute-text{
    position: absolute;
    color: #ffffff;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 30px;
}
div.time{
    width: 300px;
    height: 80px;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    color: #707070;
}
div.time-text{
    display: flex;
    margin-top: 20px;
}
.timetext{
    margin-left: 20px;
}


/* container two */



.title-2{
    width: 1160px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.container-2{
    width: 1160px;
    height: 930px;
    margin: 0 auto;
    display: flex;
}
.left-img-text{
    width: 760px;
    height: 430px;
    position: relative;
}
.left-img{
    position: absolute;
}
.left-img-1-text{
    position: absolute;
    color: #ffffff;
    font-weight: bold;
    margin-top: 220px;
    margin-left: 220px;
}
.left-img-2{
    margin-top: 30px;
}
.right{
    margin-left: 30px;
}
.right-img-2, .right-img-3{
    margin-top: 100px;
}



/* footer-bar */



.footer-navigation{
	width: 100%;
    height: 200px;
	background: #a6adb4;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
 }
 .inner-footer-1{
	 width: 490px;
     height: 90px;
	 display: flex;
	 justify-content: space-between;
     margin: 50px;
 }
.footer-items{
	width: 25%px;
}
ul a{
    font-size: 16px;
	color:#cbd0d3;
}


.inner-footer-2{
    width: 240px;
    height: 20px;
    color:#cbd0d3;
    margin: 50px;
}


.inner-footer-3{
     width: 160px;
     height: 20px;
     display: flex;
     justify-content: space-between;
     margin: 50px;
}



